/*CSS font

font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Crimson Text', serif;
*/

*{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	width: 100%;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-weight: bold;
	font-size: 50px;
	color: #f9c00c;
	text-transform: uppercase;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
/*-----LOGO-----*/
.navbar-brand {
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	font-size:  50px;
}
/*-----NAVAGATION-----*/
.nav-item {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	margin-right: 0;
	color: #000000;
	position: right;

}
/*-----LANDING PAGE-----*/
.landing-img {
	width: 100%;
	margin: auto;
	background-size: cover;
	background-position: top center;
	background-repeat: none;
	/*still need to add black opacity*/
}
/*-----ABOUT-----*/
.about {
	padding: 100px;
}
.about-p {
	padding-top: 15px;
	width: 100%;
	margin: auto; 
}
.about-credit {
	color: #C5C6B6;
	padding-top: 15px;
	padding-bottom: 15px;
}
.about-credit a {
	color: #f9c00c;
}
/*-----POPULAR-----*/
.popular-p {
	padding-bottom: 15px;
	width: 100%;
	margin: auto;
}