/*CSS font

font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Crimson Text', serif;
*/

*{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
body {
	width: 100%;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-weight: bold;
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
	color: #f9c00c;
	text-transform: uppercase;

}
h1:hover {
	color: #C5C6B6;
}
h6 {
	padding-top: 20px;
	padding-bottom: 20px;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
/*-----LOGO-----*/
.navbar-brand {
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	font-size:  60px;
	padding-left: 20px;
}
/*-----NAVAGATION-----*/
.nav-item {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	padding-right: 20px;
}
/*-----LANDING PAGE-----*/
.landing-img {
	width: 100%;
	margin: auto;
	background-size: cover;
	background-position: top center;
	background-repeat: none;
	/*still need to add black opacity*/
}
/*-----ABOUT-----*/
.about {
	padding: 100px;
}
.about-p {
	padding-top: 20px;
	width: 100%;
	margin: auto; 
}
.about-credit, .reservation-p {
	color: #C5C6B6;
	padding-top: 20px;
	padding-bottom: 0px;
	font-size: 15px;
}
.about-credit a {
	color: #f9c00c;
}
/*-----POPULAR-----*/
.popular {
	padding: 100px;
}
.popular-p {
	padding-bottom: 20px;
	width: 100%;
	margin: auto;
}
/*-----MENU----*/
.menu {
	padding: 100px;
}
/*-----RESERVATION-----*/
.reservation {
	padding: 100px;
}
